.navbar {
    background-color:#F3AD78;
}

.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid black;
}

.judul{
    margin-top: 100px;
}

@media (min-width: 576px) {
} 


.tulisan {
    font-size: x-large;
    text-align: justify;
    margin-top: 100px;
}

.gabungan {
    display : flex;
    flex-direction: row;
}

.jumbotron{
    background-color: #FFD2B1;
    margin-top: 40px;
    height: 100%;
}

.cv {
    margin-bottom: 50px;
}
.jumbotron img {
    align-self: center;
    width: 300px;
    border: 5px solid rgba(230, 138, 63, 0.959);
    margin-bottom: 10px;
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron td {
    font-size: x-large;
}

.deskripsi{
    font-size: x-large;
}
.card {
    margin-top: 20px;
}

.h5 {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.string {
    text-align: center;
}

.organisasi {
    margin-top: 30pz;
}

.footer{
    margin-top: 50px;
    background-color:#bd5734;
    height: 100%;
}
.foot{
    margin-top: 20px;
    text-align: center;
}

.btn {
      border: 1px solid #fff;
}

ul.social-buttons {
      color: gray;
}

ul.social-buttons li a {
      font-size: 40px;
      line-height: 40px;
      display: block;
      width: 80px;
      height: 80px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color: black;
      border-radius: 100%;
      outline: none;
      margin-bottom: 10px;
}